.current-work {
  padding: 63px 0 51px;
  border-bottom: 1px solid var(--color-black);
}

.current-work__title {
  margin: 0 0 28px 0;
}

.current-work__block {
  padding: 15px;
  background-color: #2c68f6;
  margin-bottom: 8px;
  position: relative;
}

.current-work__list {
  padding: 0;
  list-style: none;
  margin: 0 -4px;
}

.current-work__item {
  padding: 0 4px;
}

.current-work__item .current-work__block::after {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  left: 16px;
  bottom: 16px;
}
.current-work__item:nth-child(1) .current-work__block {
  height: 266px;
}

.current-work__item:nth-child(1) .current-work__block::after {
  content: url(/icons/success.svg);
}

.current-work__item:nth-child(2) .current-work__block {
  height: 217px;
}

.current-work__item:nth-child(2) .current-work__block::after {
  content: url(/icons/graph.svg);
}

.current-work__item:nth-child(3) .current-work__block {
  height: 222px;
}

.current-work__item:nth-child(3) .current-work__block::after {
  content: url(/icons/pen.svg);
}

.current-work__subtitle {
  margin: 0 0 12px 0;
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  color: var(--color-white);
}

.current-work__text {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: var(--color-white);
}

@media (min-width: 1280px) {
  .current-work {
    padding-top: 100px;
    padding-bottom: 104px;
  }

  .current-work__list {
    display: flex;
    flex-wrap: wrap;
  }

  .current-work__item {
    width: 33.33%;
  }

  .current-work__item:nth-child(1) .current-work__block {
    height: 324px;
  }

  .current-work__item:nth-child(2) .current-work__block {
    height: 302px;
  }

  .current-work__item:nth-child(3) .current-work__block {
    height: 280px;
  }

  .current-work__block {
    margin-bottom: 0;
  }

  .current-work__title {
    font-size: 40px;
    line-height: 54px;
    margin-bottom: 40px;
  }
}
