.cv-desc__title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: var(--color-gray);
  margin-bottom: 12px;
}

.cv-desc__list {
  margin: 0;
  padding-left: 25px;
}

.cv-desc__list li {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: var(--color-black);
  margin-bottom: 17px;
}

.desc-custom {
  margin: 0;
  padding: 0;
  list-style: none;
}

.desc-custom li {
  padding: 16px;
  margin-bottom: 16px;
  background-color: #f5feb8;
}

.desc-custom__title {
  margin: 0 0 40px 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.desc-custom__wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 14px;
}

.desc-custom__block {
  padding-right: 20px;
}

.desc-custom__number {
  display: block;
  font-size: 28px;
  line-height: 38px;
  font-weight: 800;
  margin-bottom: 4px;
}

.desc-custom__text {
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

@media (min-width: 1280px) {
  .desc-custom {
    position: relative;
    top: -21px;
  }

  .desc-custom__title {
    font-size: 20px;
    line-height: 27px;
  }

  .desc-custom__wrap {
    flex-direction: row;
  }

  .desc-custom__block {
    width: 50%;
  }

  .desc-custom__block--last {
    width: 100%;
  }

  .desc-custom li {
    padding: 22px;
  }

  .desc-custom li {
    margin-bottom: 8px;
  }

  .desc-custom li:last-child {
    margin-bottom: 0;
  }

  .desc-custom__number {
    font-size: 32px;
    line-height: 43px;
  }

  .desc-custom__block:nth-child(2) {
    padding-right: 0;
    padding-left: 0;
  }
}
