.cv {
  padding-top: 30px;
  padding-bottom: 30px;
}

.cv__title {
  margin: 0 0 24px;
}

.cv__job {
  padding: 24px 0 7px;
  border-bottom: 1px solid var(--color-black);
}

.cv__job--first {
  border-top: 1px solid var(--color-black);
}

.cv__company {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--color-black);
  margin-bottom: 16px;
}
.cv__position {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: var(--color-black);
  margin-bottom: 4px;
}

.cv__date {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: var(--color-gray);
  margin-bottom: 20px;
}

@media (min-width: 1280px) {
  .cv {
    padding-top: 100px;
    padding-bottom: 104px;
  }

  .cv__title {
    margin-bottom: 38px;
  }

  .cv__job {
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
  }

  .cv__block {
    width: 38%;
    padding-right: 30px;
  }

  .cv__desc {
    width: 62%;
  }

  .cv__company {
    font-size: 20px;
    line-height: 27px;
  }
}
