.hello {
  padding: 32px 20px 30px;
  max-width: 1120px;
  margin: 0 auto;
}

.hello__avatar {
  width: 100px;
  height: 100px;
  margin-bottom: 24px;
}

.hello__avatar img {
  display: block;
  width: 100%;
}

.hello__title {
  margin: 0 0 8px;
  font-size: 32px;
  line-height: 38px;
  font-weight: 600;
  color: var(--color-black);
}

.hello__about {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;
  color: var(--color-gray);
  margin-bottom: 16px;
}

.hello__text {
  max-width: 790px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: var(--color-black);
  margin: 0 0 16px;
}

.hello__links a {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: var(--color-black);
  margin-right: 10px;
}
