.nav {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 78px;
  height: 100vh;
  background-color: var(--color-white);
  padding: 60px 16px 20px;
}

.nav--open {
  display: block;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.nav__list--social {
  margin-top: 60px;
}

.nav__link {
  text-decoration: none;
  color: var(--color-black);
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.nav__name {
  display: none;
  text-decoration: none;
}

@media (min-width: 1280px) {
  .nav {
    display: block;
    position: static;
    width: 24%;
    padding: 30px 10px 30px 83px;
  }

  .nav__wrap {
    position: fixed;
    padding: 34px 10px 70px 40px;
    /* width: 100%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav__wrap::before {
    content: "";
    width: 1px;
    height: calc(100vh - 70px);
    background-color: var(--color-black);
    left: 0;
    display: block;
    position: absolute;
  }

  .nav__name {
    display: block;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: var(--color-black);
    margin-bottom: auto;
  }

  .nav__list--social {
    margin-top: auto;
  }
}
