.portfolio {
  padding-top: 32px;
  padding-bottom: 30px;
}

.portfolio__title {
  margin: 0 0 24px;
}

.case {
  margin-bottom: 40px;
}

.case:last-child {
  margin-bottom: 0;
}

.case__img {
  margin-bottom: 16px;
  max-width: 400px;
}

.case__img img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 24px;
}

.case__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: var(--color-black);
  margin: 0 0 16px;
}

.case__tags {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
}

.case__tag {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border: 1px solid var(--color-black);
  border-radius: 24px;
}

@media (min-width: 1280px) {
  .portfolio {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .portfolio__title {
    margin-bottom: 38px;
  }

  .portfolio__row {
    margin-left: -30px;
    margin-right: -30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 63px;
  }

  .portfolio__item {
    width: 50%;
  }

  .case {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 0;
  }

  .case__title {
    font-size: 24px;
    line-height: 29px;
  }

  .case__img {
    margin-bottom: 24px;
  }
}
