.process {
  padding-top: 36px;
  padding-bottom: 58px;
  border-bottom: 1px solid var(--color-black);
}

.process__title {
  margin: 0 0 34px;
}

.process__step {
  margin-bottom: 30px;
  padding-left: 50px;
  position: relative;
}

.process__step::before {
  content: "";
  display: block;
  position: absolute;
  left: 17px;
  width: 1px;
  height: calc(100% + 24px);
  top: 0px;
  background-color: var(--color-black);
}

.process__step:last-child {
  margin-bottom: 0;
}

.process__step:last-child:before {
  height: 0px;
}

.process__header {
  display: flex;
  gap: 16px;
  position: relative;
}

.process__number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border: 1px solid var(--color-black);
  border-radius: 50%;
  position: absolute;
  left: -50px;
  top: -7px;
  background-color: var(--color-bg);
}

.process__name {
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  margin-bottom: 8px;
}

.process__text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 0px;
}

.process__list {
  margin: 11px 0 0;
  padding-left: 24px;
}

.process__list li {
  margin-bottom: 14px;
}

.process__img {
  margin-top: 16px;
}

.process__img img {
  display: block;
  width: 100%;
  height: 100%;
}

@media (min-width: 1280px) {
  .process {
    padding-top: 50px;
    padding-bottom: 105px;
  }

  .process__title {
    margin-bottom: 50px;
  }

  .process__name {
    font-size: 20px;
    line-height: 24px;
  }

  .process__step {
    margin-bottom: 38px;
  }

  .process__text {
    max-width: 534px;
  }

  .process__img {
    max-width: 534px;
    margin-top: 23px;
  }
}
